@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EnterStudent</title>
</head>
<body>
    <div>
        <form>
            Student RollNo : <input id="Text1" type="text" /><br />
            Student Name : <input id="Text1" type="text" /><br />
            Student Standard : <input id="Text1" type="text" /><br />
            Student Division : <input id="Text1" type="text" /><br />
            <input id="Submit1" type="submit" value="Submit" />
        </form>
    </div>
</body>
</html>
